/* set page font */
:root {
    --slide-shadow-height: -5px;
    --slide-shadow-color: #e7e7e7;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    min-width: 1300px;
    width: 99.5%;
}

.top-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
    padding-bottom: 2px;
    border-bottom: 1px solid #cccccc;
    font-size: 15px;
    color: #a8a8a8;
}

/* stytle the items in the top bar */
.flex-item {
    display: flex;
}

.top-bar-item ul {
    margin: 0 auto;
    padding: 0;
}

.top-bar-item:any-link {
    color: inherit;
    text-decoration: none;
}

.top-list {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-list.list-l{
    margin-right: 15px;
}

.top-list.list-m {
    margin: 0 15px;
}

.top-list.list-r {
    margin-left: 15px;
}

/* style for the language list */
.lang-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: inherit;
}

.lang-text {
    padding-bottom: 2px;
    padding-right: 2px;
}

.lang-list.list-m {
    padding: 4px 0
}

.hover-box-1 {
    flex-direction: column;
    max-height: 19px;
}

.hover-box-2 {
    flex-direction: column;
    max-height: 19px;
    margin: 0;
}

/* dropdown language menus */

.collapse-box {
    display: flex;
    max-height: 0px;
    overflow: hidden;
    flex-direction: column;
    position: relative;
    top: 1px;
    background-color: #ffffff;
    border-top: 0px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;

    transition: max-height .25s ease-in-out;
}

.lang-lbl-toggle {
    cursor: pointer;
}

.lang-box-toggle:checked + .lang-lbl-toggle + .collapse-box {
    max-height: 100px;
    overflow: visible;
}

.hover-box-2:hover .lang-list-box-2 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1px;
    background-color: #6495ed;
    border: 3px solid #6495ed;
    border-top: 0px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.lang-box-toggle:checked + .lang-lbl-toggle .cheveron::before {
    transform: rotate(180deg) translateX(-3px);
    color: black;
}
  
.lang-box-toggle:checked + .lang-lbl-toggle .cheveron {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* aligning styles */

.align-left {
    margin-right: auto;
}

.align-center {
    margin-right: auto ;
    margin-left: auto;
}

.align-right {
    margin-left: auto;
}

.flag-icon {
    height: 17px;
}

.store-logo {
    width: 116px;
    height: 42.6665px;
}

.row {
    display: flex;
    flex-direction: row;
}


/* search bar styling */
.search-bar {
    background-color: #ffffff;
    position: relative;
    bottom: 5px;
    margin: 0 auto;
    padding-top: 10px;
    height: 40px;
    width: 500px;
    border-radius: 30px;
    border: 1px solid #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.search-filter {
    border: 0 none transparent;
    position: relative;
    border-right: 1px solid #a8a8a8;
    padding: 8px 0;
    bottom: 5px;
    margin-left: 15px;
}

.search-input {
    position: relative;
    border: 0 none transparent;
    height: 40px;
    bottom: 5px;
}

.search-button {
    float: right;
    padding: 6px;
    width: 76px;
    background: rgb(243, 170, 33);
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 50px;
    position: relative;
    left: 35px;
    bottom: 3px;
    border: 0;
    box-shadow: 0px 2px 4px 3px rgba(240, 165, 30, 0.4);
}

.top-container {
    display: flex;
    flex-flow: row wrap;
}

/* basket styles */
.basket-container {
    margin-left: auto;
    margin-right: 0;
}

.basket-dropdown {
    height: inherit;
}

.basket-text {
    position: relative;
    bottom: 6px;
}

.basket-image {
    height: 26px;
    width: 25px;
}

.basket-hide {
    display: none;
}

#basket-input {
    display: none;
}

#basket-input:checked + .basket-dropdown + .basket-hide {
    display: flex;
}

.basket-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* style a row */
.row {
    width: 100%;
}

#row-2 {
    margin-top: 5px;
}

/* category list dropdown styling */
.category-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.category-hide {
    display: none;
}

#category-input {
    display: none;
}

#category-input:checked + .category-select + .category-hide {
    display: flex;
}

.category-select-text {
    position: relative;
    bottom: 7px;
}

.category-icon {
    height: 25px;
}

/* Styles for the popular items box */
.favorites-container {
    display: flex;
    position: relative;
    flex-direction: row;
    margin-left: 50px;
    top: 7px;
}

.favorites-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.favorites-list-item-l {
    margin-left: 5px;
    margin-right: 10px;
}

.favorites-list-item {
    margin-left: 10px;
    margin-right: 10px;
}


/* styles for quick links */
.top-quick-links {
    position: relative;
    margin-left: auto;
    margin-right: 0;
    top: 7px;
}

.quick-links-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.quick-links-list-item-l {
    margin-left: 0px;
    margin-right: 10px;
}

.quick-links-list-item {
    margin-left: 10px;
    margin-right: 10px;
}

.quick-links-list-item-r {
    margin-left: 10px;
    margin-right: 0px;
}

/* store page banner */
.banner-container {
    position: relative;
    width: 100%;
    color: #ffffff;
}

.snacks-image {
    width: 100%;
    height: 250px;
}

.snacks-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* under-banner navigation bar */
.navigator-container {
    position: relative;
    display: flex;
    background-color: #ffffff;
    margin: 0 auto;
    height: 52px;
    min-width: 400px;
    width: 75%;
    border-radius: 30px;
    bottom: 20px;
    z-index: 1;
}

.navigator-center {
    margin: auto 0;
}

.navigator-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
}

.navigator-sort {
    margin-right: 10px;
    margin-left: auto;
}

/* page container styles */
.page-container {
    background-color: #f5f5f5;
    display: flex;
    width: 100%;
    position: relative;
    bottom: 55px;
    padding-bottom: 100px;
}

.content-filters-container {
    width: 250px;
    margin-left: 65px;
    margin-top: 65px;
}

.filter-box {
    background-color: #ffffff;
    border: 1px solid #f5f5f5;
}

.filter-name {
    margin-top: 5px;
    margin-left: 5px;
}

.filter-cheveron {
    margin-top: 5px;
    margin-left: 5px;
}

/* styling collapsible box */

.collapse-checkbox {
    display: none;
}

.lbl-toggle {
    display: flex;
    margin: 15px 12px;

    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-style: normal;
  
    cursor: pointer;
  
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.cheveron {
    margin-left: auto;
}

.cheveron::before {
    content: "\f077";
    display: inline-block;

    font-family: FontAwesome;
    text-rendering: auto;
    
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-left: 16px;
    padding-right: 16px;
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
  
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 1000px;
}

.toggle:checked + .lbl-toggle .cheveron::before {
    transform: rotate(180deg) translateX(-3px);
    color: black;
}
  
.toggle:checked + .lbl-toggle .cheveron {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Price filter related */
.content-inner.price {
    padding-bottom: 20px;
}

.content-inner .price {
    display: flex;
    flex-direction: row;
    height: 10px;
    width: 50px;
}

.content-inner div.price {
    display: flex;
    flex-direction: row;
}

/* slider styling */

.slide-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.slider {
    -webkit-box-align: center;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    width: 240px;
    height: 30px;
}

input:focus {
    box-shadow: none;
    outline: none;
}

.slider::-webkit-slider-runnable-track {
    background: #f3a136;
    content: '';
    height: 2px;
    pointer-events: none;
}

.slider::-webkit-slider-thumb {
    height: 13px;
    width: 13px;
    -webkit-appearance: none;
    appearance: none;
    background: #f3a136;
    border-radius: 8px;
    box-shadow: 5px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 6px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 7px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 8px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 9px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 10px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 11px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 12px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 13px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 14px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 15px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 16px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 17px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 18px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 19px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 20px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 21px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 22px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 23px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 24px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 25px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 26px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 27px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 28px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 29px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 30px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 31px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 32px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 33px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 34px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 35px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 36px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 37px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 38px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 39px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 40px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 41px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 42px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 43px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 44px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 45px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 46px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 47px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 48px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 49px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 50px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 51px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 52px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 53px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 54px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 55px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 56px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 57px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 58px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 59px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 60px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 61px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 62px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 63px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 64px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 65px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 66px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 67px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 68px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 69px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 70px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 71px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 72px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 73px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 74px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 75px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 76px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 77px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 78px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 79px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 80px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 81px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 82px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 83px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 84px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 85px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 86px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 87px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 88px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 89px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 90px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 91px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 92px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 93px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 94px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 95px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 96px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 97px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 98px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 99px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 100px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 101px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 102px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 103px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 104px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 105px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 106px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 107px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 108px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 109px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 110px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 111px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 112px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 113px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 114px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 115px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 116px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 117px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 118px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 119px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 120px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 121px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 122px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 123px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 124px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 125px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 126px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 127px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 128px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 129px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 130px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 131px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 132px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 133px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 134px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 135px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 136px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 137px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 138px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 139px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 140px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 141px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 142px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 143px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 144px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 145px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 146px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 147px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 148px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 149px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 150px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 151px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 152px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 153px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 154px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 155px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 156px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 157px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 158px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 159px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 160px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 161px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 162px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 163px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 164px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 165px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 166px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 167px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 168px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 169px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 170px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 171px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 172px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 173px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 174px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 175px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 176px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 177px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 178px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 179px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 180px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 181px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 182px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 183px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 184px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 185px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 186px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 187px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 188px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 189px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 190px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 191px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 192px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 193px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 194px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 195px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 196px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 197px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 198px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 199px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 200px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 201px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 202px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 203px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 204px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 205px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 206px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 207px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 208px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 209px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 210px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 211px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 212px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 213px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 214px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 215px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 216px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 217px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 218px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 219px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 220px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 221px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 222px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 223px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 224px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 225px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 226px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 227px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 228px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 229px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 230px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 231px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 232px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 233px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 234px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 235px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 236px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 237px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 238px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 239px 0 0 var(--slide-shadow-height) var(--slide-shadow-color), 240px 0 0 var(--slide-shadow-height) var(--slide-shadow-color);
    margin-top: -5.5px;
    border: 1px solid #ffffff;
}

/* barnds filter style */
.brands-1-filter {
    padding-top: 6px;
}


/* radio filters styling */
.radio-container {
    display: flex;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.filter-radio-show {
    position: relative;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: #eee;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.11);
}

/*  filter search box */
.f-search-box-container {
    display: flex;
    width: 186px;

    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;

    border: 1px solid rgb(238, 238, 238);
    border-radius: 11px;
    color: rgb(206, 206, 206);
}

.filter-search-box {
    margin: 4px 6.5px;
    width: 100%;
    border: none;
}

.filter-search-box + .fa-search {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    font-size: 13px;
}

/* On mouse-over, add a grey background color */
.radio-container:hover .filter-radio + .filter-radio-show {
    background-color: #ccc;
}
  
/* When the radio button is checked, add a blue background */
.radio-container .filter-radio:checked + .filter-radio-show {
    background-color: rgb(255, 255, 255);
}
  
/* Create the indicator (the dot/circle - hidden when not checked) */
.filter-radio-show:after {
    content: "";
    display: none;
}
  
/* Show the indicator (dot/circle) when checked */
.radio-container .filter-radio:checked + .filter-radio-show:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .filter-radio-show:after {
    top: 2px;
    left: 2px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgb(235, 138, 11);
}


/* products styling */
.products-upper-container {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 65px;
}

.product-row-1 {
    margin-bottom: 25px;
}

.product-container {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 250px;
    max-height: 350px;
    max-width: 250px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 3px;
}

.product-container.m {
    margin: 0 30px;
}

.inner-product-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    text-align: center;
}

.product-name {
    font-weight: bold;
}

.product-image {
    height: 125px;
    width: 75px;
}

.buy-button {
    display: none;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    background-color: #db1839;
    padding: 10px 50px;
    border-radius: 20px;
    margin-top: auto;
    top: 8px
}

.product-container:hover {
    border: 1px solid #db1839;
}

.product-container:hover .buy-button {
    display: flex;
}

/* page number navigation */
.page-number-navigator {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;

    height: 45px;
    border-radius: 30px;
    color: #a8a8a8;
    text-decoration: none;
}

.page-go-prev {
    margin-left: 15px;
    color: #a8a8a8;
    text-decoration: none;
}

.page-go-next {
    margin-right: 15px;
    color: #a8a8a8;
    text-decoration: none;
}

.page-nav {
    margin-top: auto;
    margin-bottom: auto;
}

.page-num-link {
    margin-left: 13px;
    margin-right: 13px;
    color: #a8a8a8;
    text-decoration: none;
}

.page-num-dots {
    margin-left: 13px;
    margin-right: 13px;
}

.current-page {
    color: #ffffff;
    background-color: #db1839;
    padding: 6px 10px;
    border-radius: 360px;
}

/* page bottom styles */
#row-3 {
    border-bottom: 1px solid #cccccc;
}

.copyrights {
    margin: 0 0 0 auto
}