/* set page font */
html {
    font-family: 'Source Sans Pro', sans-serif;
}

.body {
    background-color: #d1d0d0;
}

.top-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding-bottom: 2px;
    border-bottom: 1px solid #cccccc;
    font-size: 15px;
    color: #a8a8a8;
}

.top-bar-item {
    display: flex;
}

.top-bar-item ul {
    margin: 0 auto;
    padding: 0;
}

.top-bar-item:any-link {
    color: inherit;
    text-decoration: none;
}

.top-list {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-list.list-l{
    margin-right: 15px;
}

.top-list.list-m {
    margin: 0 15px;
}

.top-list.list-r {
    margin-left: 15px;
}

.lang-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lang-text {
    padding-bottom: 2px;
    padding-right: 2px;
}

.lang-list.list-m {
    padding: 4px 0
}

.lang-list-box {
    display: none;
}

.hover-box:hover .lang-list-box {
    display: block;
    position: absolute;
    top: 26px;
    background-color: #6495ed;
    border: 3px solid #6495ed;
    border-top: 0px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.align-left {
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 95px;
}

.align-center {
    margin: auto ;
    min-width: 430px
}

.align-right {
    justify-content: flex-end;
    align-items: flex-end;
    min-width: 90px;
}

.flag-icon {
    height: 17px;
}

.store-logo {
    width: 116px;
    height: 42.6665px;
}

.row {
    padding-top: 10px;
    display: flex;
}

.search-bar {
    margin: 0 30px;
    padding-top: 10px;
    height: 30px;
    width: 500px;
    border-radius: 30px;
    border: 1px solid #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.search-filter {
    border: 0 none transparent;
    border-right: 1px solid #a8a8a8;
    padding: 3px 0;
    margin-left: 15px;
}

.search-input {
    border: 0 none transparent;
}

.search-button {
    float: right;
    padding: 6px;
    width: 76px;
    background: rgb(243, 170, 33);
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 50px;
    position: relative;
    left: 35px;
    bottom: 6px;
    border: 0;
    box-shadow: 0px 2px 4px 3px rgba(240, 165, 30, 0.4);
}