/* set page font */
html {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    z-index: 0;
}

.top-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
    padding-bottom: 2px;
    border-bottom: 1px solid #cccccc;
    font-size: 15px;
    color: #a8a8a8;
}

/* stytle the items in the top bar */
.flex-item {
    display: flex;
}

.top-bar-item ul {
    margin: 0 auto;
    padding: 0;
}

.top-bar-item:any-link {
    color: inherit;
    text-decoration: none;
}

.top-list {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-list.list-l{
    margin-right: 15px;
}

.top-list.list-m {
    margin: 0 15px;
}

.top-list.list-r {
    margin-left: 15px;
}

/* style for the language list */
.lang-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lang-text {
    padding-bottom: 2px;
    padding-right: 2px;
}

.lang-list.list-m {
    padding: 4px 0
}

.lang-list-box-1 {
    display: none;
}

.lang-list-box-2 {
    display: none;
}

.hover-box-1 {
    flex-direction: column;
    max-height: 19px;
}

.hover-box-2 {
    flex-direction: column;
    max-height: 19px;
    margin: 0;
}

/* hover settings by box number */
.hover-box-1:hover .lang-list-box-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1px;
    background-color: #6495ed;
    border: 3px solid #6495ed;
    border-top: 0px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.hover-box-2:hover .lang-list-box-2 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1px;
    background-color: #6495ed;
    border: 3px solid #6495ed;
    border-top: 0px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.align-left {
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 95px;
}

.align-center {
    margin: auto ;
    min-width: 430px
}

.align-right {
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
    min-width: 90px;
}

.flag-icon {
    height: 17px;
}

.store-logo {
    width: 116px;
    height: 42.6665px;
}

.row {
    display: flex;
}


/* search bar styling */
.search-bar {
    background-color: #ffffff;
    position: relative;
    bottom: 5px;
    margin: 0 auto;
    padding-top: 10px;
    height: 40px;
    width: 500px;
    border-radius: 30px;
    border: 1px solid #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.search-filter {
    border: 0 none transparent;
    position: relative;
    border-right: 1px solid #a8a8a8;
    padding: 8px 0;
    bottom: 5px;
    margin-left: 15px;
}

.search-input {
    position: relative;
    border: 0 none transparent;
    height: 40px;
    bottom: 5px;
}

.search-button {
    float: right;
    padding: 6px;
    width: 76px;
    background: rgb(243, 170, 33);
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 50px;
    position: relative;
    left: 35px;
    bottom: 3px;
    border: 0;
    box-shadow: 0px 2px 4px 3px rgba(240, 165, 30, 0.4);
}

.top-container {
    display: flex;
    flex-flow: row wrap;
}

/* basket styles */
.basket-container {
    margin-left: auto;
    margin-right: 0;
}

.basket-dropdown {
    height: inherit;
}

.basket-text {
    position: relative;
    bottom: 6px;
}

.basket-image {
    height: 26px;
    width: 25px;
}

.basket-hide {
    display: none;
}

#basket-input {
    display: none;
}

#basket-input:checked + .basket-dropdown + .basket-hide {
    display: flex;
}

.basket-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* style a row */
.row {
    flex: 0 0 100%;
}

#row-2 {
    margin-top: 5px;
}

/* category list dropdown styling */
.category-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.category-hide {
    display: none;
}

#category-input {
    display: none;
}

#category-input:checked + .category-select + .category-hide {
    display: flex;
}

.category-select-text {
    position: relative;
    bottom: 7px;
}

.category-icon {
    height: 25px;
}

/* Styles for the popular items box */
.favorites-container {
    display: flex;
    position: relative;
    flex-direction: row;
    margin-left: 50px;
    top: 7px;
}

.favorites-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.favorites-list-item-l {
    margin-left: 5px;
    margin-right: 10px;
}

.favorites-list-item {
    margin-left: 10px;
    margin-right: 10px;
}


/* styles for quick links */
.top-quick-links {
    position: relative;
    margin-left: auto;
    margin-right: 0;
    top: 7px;
}

.quick-links-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.quick-links-list-item-l {
    margin-left: 0px;
    margin-right: 10px;
}

.quick-links-list-item {
    margin-left: 10px;
    margin-right: 10px;
}

.quick-links-list-item-r {
    margin-left: 10px;
    margin-right: 0px;
}

/* store page banner */
.banner-container {
    position: relative;
    width: 100%;
    color: #ffffff;
}

.snacks-image {
    width: 100%;
    height: 250px;
}

.snacks-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* under-banner navigation bar */
.navigator-container {
    position: relative;
    display: flex;
    background-color: #ffffff;
    margin: 0 auto;
    height: 52px;
    min-width: 400px;
    width: 75%;
    border-radius: 30px;
    bottom: 20px;
}

.navigator-center {
    margin: auto 0;
}

.navigator-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
}

.navigator-sort {
    margin-right: 10px;
    margin-left: auto;
}

/* page container styles */
.page-container {
    background-color: #f5f5f5;
    display: flex;
    width: 100%;
    position: relative;
    bottom: 55px;
    z-index: -1;
}

.content-filters-container {
    width: 20%;
}

/* slider styling */
.slidecontainer {
    /* width: 100%;  Width of the outside container */
}
  
/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
  
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
  
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}



/* page bottom styles */
#row-3 {
    border-bottom: 1px solid #cccccc;
}

.copyrights {
    margin: 0 0 0 auto
}